Client/src/com/oracle/xmlns/telecomservicesplatform/telecombuyflow/servicebuyflow/SYS_DEF.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/SOALab/ServiceBuyFlow/ServiceBuyFlow" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="serviceId" type="integer"/>
        <element name="customerAccountNumber" type="integer"/>
        <element name="creditAccountNumber" type="integer"/>
        <element name="holderFirstName" type="string"/>
        <element name="holderLastName" type="string"/>
        <element name="expireDate" type="string"/>
        <element name="provider" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="result" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="processFault">
    <complexType>
      <sequence>
        <element name="result" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>